// widescreens
@include mediaXL {

}

// desktops + laptops
@include mediaLarge {

}

// tablets
@include mediaMedium {
	main {
		align-items: center;
		text-align: center;
		
		.lrg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}

	ul.menu-nav, div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;
	}
	
	.menu-nav {
		height: 70vh;
		transform: translate3d(-100%, 0, 0);
		font-size: 24px;
		background: rgba(darken($primary-color, 5), 0.95);
	}

	.menu-branding {
		height: 30vh;
		transform: translate3d(100%, 0, 0);

		.portrait {
			background: $portrait-small;
			background-size: cover;
			width: 150px;
			height: 150px;
		}
	}

	.nav-item {
		transform: translate3d(-600px, 0, 0);
	}
}

// phones
@include mediaSmall {
	main#home h1, main#home h2 {
		align-items: center;
		text-align: center;
		margin-top: 10vh;
		//margin-right: 2rem;
		&.lrg-heading {
			font-size: 3rem;
		}

		&.sml-heading {
			font-size: 1rem;
		}
	}

	.menu-nav {
		background: rgba(darken($primary-color, 5), 0.95);
	}

	.nav-item {
		&.show {
			// slide in from the right of screen
			transform: translate3d(0, -35px, 0);
		}
	}
}